/*--put your own style sheet here--*/
body {
  background: url("./images/post_cover.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
